{% extends 'base.html.twig' %}

{%  block title %} Home {% endblock %}

{% block body %}
    <h1>Hello, World ! </h1>
    <h2>Hello, World ! </h2>
    <h3>Hello, World ! </h3>
    <h4>Hello, World ! </h4>
    <h5>Hello, World ! </h5>
    <h6>Hello, World ! </h6>
    <p>paragraphe exemple</p>
    <label class="form-label">Label exemple</label>
    <input type="text" class="form-control" placeholder="input exemple">

{% endblock %}
